---
title: Accessing a Database as an Admin User
owner: MySQL
---

This topic describes how to access a database as an admin user with
either CredHub credentials or BOSH SSH.


## <a id="overview"></a> Overview

You can access a database as an admin user to do actions that
cannot be done as a normal binding user.

You can do the following actions as an admin user:

- Add users
- Create new schemas
- View system schemas

To access your database service instance as an admin, choose
one of the following ways:

- **Using BOSH SSH:** If
your BOSH agent is healthy, you can BOSH SSH into the MySQL VM.
This option can be faster. See [Connect to MySQL with BOSH SSH](#set-permissions) below.

- **Using CredHub Credentials:** If your BOSH agent is unhealthy, you can use this option.
See [Connect to MySQL with CredHub Credentials](#instance-creds) below.


## <a id="set-permissions"></a> Connect to MySQL with BOSH SSH

To connect to MySQL with BOSH SSH:

1. BOSH SSH into your node by following the procedure in
[BOSH SSH](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#bosh-ssh)
in the <%= vars.ops_manager %> documentation.

1. Connect to your MySQL VM by running:

	```
    mysql --defaults-file=/var/vcap/jobs/pxc-mysql/config/mylogin.cnf
	```

## <a id="instance-creds"></a> Connect to MySQL with CredHub Credentials

<%= partial vars.path_to_partials + "/services-tshoot/tshoot-tech-instance-creds" %>
