---
title: Bootstrapping
owner: MySQL
---

<div class="quick-links">
    <ul>
        <li><a href="#when-to-bootstrap">When to Bootstrap</a></li>
        <li><a href="#assisted-bootstrap">Run the Bootstrap Errand</a></li>
        <ul>
          <li><a href="#determine-failure">Determine Type of Cluster Failure</a></li>
          <li><a href="#cluster-disrupted">Scenario 1: Virtual Machines Running, Cluster Disrupted</a></li>
          <li><a href="#vms-terminated">Scenario 2: Virtual Machines Terminated or Lost</a></li>
        </ul>
        <li><a href="#manual-bootstrap">Bootstrap Manually</a></li>
        <ul>
          <li><a href="#shut-down">Shut Down MySQL</a></li>
          <li><a href="#choose-node">Determine which Node to Bootstrap</a></li>
          <li><a href="#set-bootstrap-node">Bootstrap the First Node</a></li>
          <li><a href="#restart-nodes">Restart Remaining Nodes</a></li>
          <li><a href="#verify-nodes">Verify that the Nodes Have Joined the Cluster</a></li>
        </ul>
    </ul>
</div>

<strong><%= modified_date %></strong>


<!-- This partial is also used in the Core docs. Any edits should make sense in that context as well.
If you edit an header in the partial, you must manually edit the TOC above.
-->
<%= partial '../../p-mysql/partials/mysql/mysql_bootstrapping' %>
