---
title: Controlling Access to Service Plans by Org
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic gives instructions for controlling access to service plans by org.
You can also set limits for the number of service intances globally and per plan.
For more information, see [Setting Limits for On-Demand Instances](./set-quotas.html).

## <a id="service-plan-access"></a> Control Access to Service Plan by Orgs

<%= vars.product_full %> allows you to control which CF orgs are able to access specific service plans.
By default, active service plans are visible to all orgs.
Controlling which orgs have access to a specific service plan allows you to ensure
that the resource-intensive service plans are only available to the orgs that explicitly need them.

To configure <%= vars.product_short %> to control service-plan access, do the following:

1. Set the **Service Plan Access** field to **Manual** on any active service plan.

    For more information, see [Configure Active Service Plans](./install-config.html#active).

1. Click **Save**.

1. Return to the <%= vars.ops_manager %> Installation Dashboard and click **Review Pending Changes**.

1. Click **Apply Changes**.

1. For each org that you want to use the service plan, do the following:

    1.  Log in to the Cloud Foundry Command Line Interface (cf CLI) as an admin user:

        <code>cf login</code>

    1.  Enable service access to the org:

        <code>cf enable-service-access p.mysql -p PLAN -o ORGANIZATION</code>

        Where:

        `PLAN`: The name of the specific plan to enable, set to manual in step 1 above.

        `ORGANIZATION`: The name of the org that needs access to `PLAN`

        For example,

        <pre class="terminal">
        $ cf enable-service-access p.mysql -o prodteam -p db-large
        Enabling access to plan db-large of service p.mysql for org prodteam as admin...
        OK
        </pre>

The org is now able to use the plan.

For information on modifying and viewing service-plan access,
see [ Managing Access to Service Plans](https://docs.pivotal.io/pivotalcf/services/access-control.html).
